In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/My Drive/Colab Notebooks/')

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data=pd.read_csv('fake news/fake-news.zip/train.csv')

In [ ]:
data.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [ ]:
data.isna()

          id  title  author   text  label
0      False  False   False  False  False
1      False  False   False  False  False
2      False  False   False  False  False
3      False  False   False  False  False
4      False  False   False  False  False
...      ...    ...     ...    ...    ...
20795  False  False   False  False  False
20796  False  False   False  False  False
20797  False  False   False  False  False
20798  False  False   False  False  False
20799  False  False   False  False  False

[20800 rows x 5 columns]

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.head()

   id  ... label
0   0  ...     1
1   1  ...     0
2   2  ...     1
3   3  ...     1
4   4  ...     1

[5 rows x 5 columns]

In [ ]:
# getting independent features
x=data.drop('label',axis=1) 
x

          id  ...                                               text
0          0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1          1  ...  Ever get the feeling your life circles the rou...
2          2  ...  Why the Truth Might Get You Fired October 29, ...
3          3  ...  Videos 15 Civilians Killed In Single US Airstr...
4          4  ...  Print \nAn Iranian woman has been sentenced to...
...      ...  ...                                                ...
20795  20795  ...  Rapper T. I. unloaded on black celebrities who...
20796  20796  ...  When the Green Bay Packers lost to the Washing...
20797  20797  ...  The Macy’s of today grew from the union of sev...
20798  20798  ...  NATO, Russia To Hold Parallel Exercises In Bal...
20799  20799  ...    David Swanson is an author, activist, journa...

[18285 rows x 4 columns]

In [ ]:
# dependent features
y=data['label']
y

0        1
1        0
2        1
3        1
4        1
        ..
20795    0
20796    0
20797    0
20798    1
20799    1
Name: label, Length: 18285, dtype: int64

In [ ]:
x.shape,y.shape

((18285, 4), (18285,))

In [ ]:
import tensorflow as tf
from tensorflow.keras.layers import Embedding,LSTM,Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.preprocessing.text import  one_hot

## One Hot Encoding

In [ ]:
voc_size=5000
messages=x

In [ ]:
messages.head()

   id  ...                                               text
0   0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1   1  ...  Ever get the feeling your life circles the rou...
2   2  ...  Why the Truth Might Get You Fired October 29, ...
3   3  ...  Videos 15 Civilians Killed In Single US Airstr...
4   4  ...  Print \nAn Iranian woman has been sentenced to...

[5 rows x 4 columns]

In [ ]:
messages.reset_index(inplace=True)

In [ ]:
messages.head()

   index  ...                                               text
0      0  ...  House Dem Aide: We Didn’t Even See Comey’s Let...
1      1  ...  Ever get the feeling your life circles the rou...
2      2  ...  Why the Truth Might Get You Fired October 29, ...
3      3  ...  Videos 15 Civilians Killed In Single US Airstr...
4      4  ...  Print \nAn Iranian woman has been sentenced to...

[5 rows x 5 columns]

In [ ]:
import nltk
import re
from nltk.corpus import stopwords

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
corpus = []
for i in range(0, len(messages)):
    review = re.sub('[^a-zA-Z]', ' ', messages['title'][i])
    review = review.lower()
    review = review.split()
    
    review = [ps.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    corpus.append(review)

In [ ]:
len(corpus)

18285

In [ ]:
one_hot_word=[one_hot(word,voc_size) for word in corpus]

In [ ]:
one_hot_word[18000]

[704, 4076, 3524, 4708, 2156, 3156, 1349, 648, 1302, 3996, 1190]

# **Model**

In [ ]:
sent_length=30
embedded_docs=pad_sequences(one_hot_word,padding='pre',maxlen=sent_length)
print(embedded_docs)

[[   0    0    0 ...  240 2007 4404]
 [   0    0    0 ... 4892 3527 1190]
 [   0    0    0 ...  785 4596 4249]
 ...
 [   0    0    0 ...  506 4644 2286]
 [   0    0    0 ... 1644 4689 1430]
 [   0    0    0 ... 1353 4717 1894]]

In [ ]:

## Creating model
embedding_vector_features=40
model=Sequential()
model.add(Embedding(voc_size,embedding_vector_features,input_length=sent_length))
model.add(LSTM(100))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
embedding (Embedding)        (None, 30, 40)            200000
_________________________________________________________________
lstm (LSTM)                  (None, 100)               56400
_________________________________________________________________
dense (Dense)                (None, 1)                 101
=================================================================
Total params: 256,501
Trainable params: 256,501
Non-trainable params: 0
_________________________________________________________________
None

In [ ]:
embedded_docs.shape

(18285, 30)

In [ ]:
X_final=np.array(embedded_docs)
y_final=np.array(y)

In [ ]:
X_final

array([[   0,    0,    0, ...,  240, 2007, 4404],
       [   0,    0,    0, ..., 4892, 3527, 1190],
       [   0,    0,    0, ...,  785, 4596, 4249],
       ...,
       [   0,    0,    0, ...,  506, 4644, 2286],
       [   0,    0,    0, ..., 1644, 4689, 1430],
       [   0,    0,    0, ..., 1353, 4717, 1894]], dtype=int32)

In [ ]:
X_final.shape,y_final.shape

((18285, 30), (18285,))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y_final, test_size=0.33, random_state=42)

In [ ]:
### Finally Training
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=50,batch_size=64)

Epoch 1/50
192/192 [==============================] - 9s 46ms/step - loss: 0.3452 - accuracy: 0.8335 - val_loss: 0.2007 - val_accuracy: 0.9138
Epoch 2/50
192/192 [==============================] - 8s 44ms/step - loss: 0.1473 - accuracy: 0.9417 - val_loss: 0.1876 - val_accuracy: 0.9229
Epoch 3/50
192/192 [==============================] - 8s 44ms/step - loss: 0.1024 - accuracy: 0.9628 - val_loss: 0.1954 - val_accuracy: 0.9206
Epoch 4/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0713 - accuracy: 0.9758 - val_loss: 0.2480 - val_accuracy: 0.9205
Epoch 5/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0485 - accuracy: 0.9829 - val_loss: 0.2642 - val_accuracy: 0.9160
Epoch 6/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0310 - accuracy: 0.9900 - val_loss: 0.3047 - val_accuracy: 0.9152
Epoch 7/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0211 - accuracy: 0.9936 - val_loss: 0.3281 - val_accuracy: 0.9112
Epoch 8/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0194 - accuracy: 0.9931 - val_loss: 0.4097 - val_accuracy: 0.9090
Epoch 9/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0144 - accuracy: 0.9957 - val_loss: 0.3856 - val_accuracy: 0.9125
Epoch 10/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0130 - accuracy: 0.9961 - val_loss: 0.4245 - val_accuracy: 0.9137
Epoch 11/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0093 - accuracy: 0.9970 - val_loss: 0.4237 - val_accuracy: 0.9138
Epoch 12/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0107 - accuracy: 0.9965 - val_loss: 0.5126 - val_accuracy: 0.9125
Epoch 13/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0084 - accuracy: 0.9967 - val_loss: 0.4930 - val_accuracy: 0.9143
Epoch 14/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0073 - accuracy: 0.9980 - val_loss: 0.5677 - val_accuracy: 0.9074
Epoch 15/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0076 - accuracy: 0.9975 - val_loss: 0.5500 - val_accuracy: 0.9125
Epoch 16/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0085 - accuracy: 0.9976 - val_loss: 0.5254 - val_accuracy: 0.9095
Epoch 17/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0060 - accuracy: 0.9980 - val_loss: 0.5058 - val_accuracy: 0.9062
Epoch 18/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0052 - accuracy: 0.9982 - val_loss: 0.5725 - val_accuracy: 0.9054
Epoch 19/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0047 - accuracy: 0.9984 - val_loss: 0.5555 - val_accuracy: 0.9097
Epoch 20/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0073 - accuracy: 0.9975 - val_loss: 0.5619 - val_accuracy: 0.9102
Epoch 21/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0047 - accuracy: 0.9981 - val_loss: 0.6307 - val_accuracy: 0.9080
Epoch 22/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0046 - accuracy: 0.9988 - val_loss: 0.6697 - val_accuracy: 0.9075
Epoch 23/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0037 - accuracy: 0.9988 - val_loss: 0.6837 - val_accuracy: 0.9095
Epoch 24/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0043 - accuracy: 0.9981 - val_loss: 0.6492 - val_accuracy: 0.9065
Epoch 25/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0033 - accuracy: 0.9987 - val_loss: 0.6254 - val_accuracy: 0.9082
Epoch 26/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0033 - accuracy: 0.9988 - val_loss: 0.6649 - val_accuracy: 0.9087
Epoch 27/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0016 - accuracy: 0.9997 - val_loss: 0.7605 - val_accuracy: 0.9085
Epoch 28/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0018 - accuracy: 0.9993 - val_loss: 0.7505 - val_accuracy: 0.9092
Epoch 29/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0050 - accuracy: 0.9979 - val_loss: 0.6573 - val_accuracy: 0.9046
Epoch 30/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0024 - accuracy: 0.9991 - val_loss: 0.7700 - val_accuracy: 0.9031
Epoch 31/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0030 - accuracy: 0.9990 - val_loss: 0.7197 - val_accuracy: 0.9017
Epoch 32/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0019 - accuracy: 0.9995 - val_loss: 0.7235 - val_accuracy: 0.9109
Epoch 33/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0041 - accuracy: 0.9988 - val_loss: 0.6465 - val_accuracy: 0.9087
Epoch 34/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0015 - accuracy: 0.9997 - val_loss: 0.7585 - val_accuracy: 0.9089
Epoch 35/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0016 - accuracy: 0.9995 - val_loss: 0.7808 - val_accuracy: 0.9059
Epoch 36/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0035 - accuracy: 0.9989 - val_loss: 0.7123 - val_accuracy: 0.9046
Epoch 37/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0028 - accuracy: 0.9994 - val_loss: 0.6537 - val_accuracy: 0.9109
Epoch 38/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0015 - accuracy: 0.9994 - val_loss: 0.7633 - val_accuracy: 0.9041
Epoch 39/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0023 - accuracy: 0.9993 - val_loss: 0.7637 - val_accuracy: 0.9114
Epoch 40/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0037 - accuracy: 0.9989 - val_loss: 0.7905 - val_accuracy: 0.9001
Epoch 41/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0023 - accuracy: 0.9991 - val_loss: 0.7595 - val_accuracy: 0.9044
Epoch 42/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0018 - accuracy: 0.9996 - val_loss: 0.7166 - val_accuracy: 0.9070
Epoch 43/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0012 - accuracy: 0.9997 - val_loss: 0.7788 - val_accuracy: 0.9016
Epoch 44/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0019 - accuracy: 0.9995 - val_loss: 0.7825 - val_accuracy: 0.9006
Epoch 45/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0019 - accuracy: 0.9993 - val_loss: 0.7616 - val_accuracy: 0.9004
Epoch 46/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0019 - accuracy: 0.9993 - val_loss: 0.7617 - val_accuracy: 0.9052
Epoch 47/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0017 - accuracy: 0.9994 - val_loss: 0.7600 - val_accuracy: 0.9056
Epoch 48/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0026 - accuracy: 0.9992 - val_loss: 0.7822 - val_accuracy: 0.9034
Epoch 49/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0012 - accuracy: 0.9996 - val_loss: 0.7671 - val_accuracy: 0.9046
Epoch 50/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0023 - accuracy: 0.9993 - val_loss: 0.7350 - val_accuracy: 0.9029

In [ ]:

from tensorflow.keras.layers import Dropout
## Creating model
embedding_vector_features=40
model=Sequential()
model.add(Embedding(voc_size,embedding_vector_features,input_length=sent_length))
model.add(Dropout(0.3))
model.add(LSTM(100))
model.add(Dropout(0.3))
model.add(Dense(1,activation='sigmoid'))
model.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])

In [ ]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=50,batch_size=64)

Epoch 1/50
192/192 [==============================] - 9s 46ms/step - loss: 0.3502 - accuracy: 0.8384 - val_loss: 0.1978 - val_accuracy: 0.9153
Epoch 2/50
192/192 [==============================] - 8s 44ms/step - loss: 0.1501 - accuracy: 0.9416 - val_loss: 0.1886 - val_accuracy: 0.9213
Epoch 3/50
192/192 [==============================] - 8s 44ms/step - loss: 0.1096 - accuracy: 0.9578 - val_loss: 0.2056 - val_accuracy: 0.9239
Epoch 4/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0851 - accuracy: 0.9678 - val_loss: 0.2291 - val_accuracy: 0.9191
Epoch 5/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0683 - accuracy: 0.9749 - val_loss: 0.2371 - val_accuracy: 0.9180
Epoch 6/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0563 - accuracy: 0.9804 - val_loss: 0.2818 - val_accuracy: 0.9168
Epoch 7/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0422 - accuracy: 0.9854 - val_loss: 0.2965 - val_accuracy: 0.9176
Epoch 8/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0326 - accuracy: 0.9887 - val_loss: 0.3291 - val_accuracy: 0.9153
Epoch 9/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0254 - accuracy: 0.9914 - val_loss: 0.3459 - val_accuracy: 0.9165
Epoch 10/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0216 - accuracy: 0.9931 - val_loss: 0.4192 - val_accuracy: 0.9074
Epoch 11/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0186 - accuracy: 0.9936 - val_loss: 0.4205 - val_accuracy: 0.9082
Epoch 12/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0155 - accuracy: 0.9953 - val_loss: 0.4115 - val_accuracy: 0.9087
Epoch 13/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0131 - accuracy: 0.9967 - val_loss: 0.5069 - val_accuracy: 0.9105
Epoch 14/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0119 - accuracy: 0.9961 - val_loss: 0.4727 - val_accuracy: 0.9099
Epoch 15/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0123 - accuracy: 0.9959 - val_loss: 0.5068 - val_accuracy: 0.9127
Epoch 16/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0086 - accuracy: 0.9969 - val_loss: 0.4976 - val_accuracy: 0.9089
Epoch 17/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0093 - accuracy: 0.9972 - val_loss: 0.5748 - val_accuracy: 0.9104
Epoch 18/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0076 - accuracy: 0.9975 - val_loss: 0.5292 - val_accuracy: 0.9130
Epoch 19/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0064 - accuracy: 0.9978 - val_loss: 0.5527 - val_accuracy: 0.9107
Epoch 20/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0063 - accuracy: 0.9980 - val_loss: 0.5721 - val_accuracy: 0.9109
Epoch 21/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0052 - accuracy: 0.9980 - val_loss: 0.6478 - val_accuracy: 0.9075
Epoch 22/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0078 - accuracy: 0.9976 - val_loss: 0.5600 - val_accuracy: 0.9117
Epoch 23/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0059 - accuracy: 0.9979 - val_loss: 0.6242 - val_accuracy: 0.9094
Epoch 24/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0038 - accuracy: 0.9984 - val_loss: 0.6247 - val_accuracy: 0.9162
Epoch 25/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0046 - accuracy: 0.9987 - val_loss: 0.6446 - val_accuracy: 0.9130
Epoch 26/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0029 - accuracy: 0.9993 - val_loss: 0.7181 - val_accuracy: 0.9090
Epoch 27/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0030 - accuracy: 0.9989 - val_loss: 0.7230 - val_accuracy: 0.9074
Epoch 28/50
192/192 [==============================] - 9s 44ms/step - loss: 0.0059 - accuracy: 0.9982 - val_loss: 0.6581 - val_accuracy: 0.9084
Epoch 29/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0038 - accuracy: 0.9989 - val_loss: 0.7074 - val_accuracy: 0.9044
Epoch 30/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0046 - accuracy: 0.9981 - val_loss: 0.7031 - val_accuracy: 0.9067
Epoch 31/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0038 - accuracy: 0.9989 - val_loss: 0.7314 - val_accuracy: 0.9077
Epoch 32/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0051 - accuracy: 0.9981 - val_loss: 0.7117 - val_accuracy: 0.9062
Epoch 33/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0034 - accuracy: 0.9984 - val_loss: 0.7233 - val_accuracy: 0.9072
Epoch 34/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0058 - accuracy: 0.9980 - val_loss: 0.6634 - val_accuracy: 0.9107
Epoch 35/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0030 - accuracy: 0.9989 - val_loss: 0.7291 - val_accuracy: 0.9117
Epoch 36/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0027 - accuracy: 0.9991 - val_loss: 0.6644 - val_accuracy: 0.9110
Epoch 37/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0021 - accuracy: 0.9993 - val_loss: 0.7269 - val_accuracy: 0.9099
Epoch 38/50
192/192 [==============================] - 9s 47ms/step - loss: 0.0023 - accuracy: 0.9991 - val_loss: 0.8146 - val_accuracy: 0.9110
Epoch 39/50
192/192 [==============================] - 9s 49ms/step - loss: 0.0031 - accuracy: 0.9990 - val_loss: 0.6902 - val_accuracy: 0.9099
Epoch 40/50
192/192 [==============================] - 10s 50ms/step - loss: 0.0024 - accuracy: 0.9993 - val_loss: 0.7681 - val_accuracy: 0.9128
Epoch 41/50
192/192 [==============================] - 10s 51ms/step - loss: 0.0021 - accuracy: 0.9994 - val_loss: 0.7743 - val_accuracy: 0.9092
Epoch 42/50
192/192 [==============================] - 9s 48ms/step - loss: 0.0021 - accuracy: 0.9991 - val_loss: 0.7446 - val_accuracy: 0.9062
Epoch 43/50
192/192 [==============================] - 9s 48ms/step - loss: 0.0031 - accuracy: 0.9990 - val_loss: 0.8177 - val_accuracy: 0.9042
Epoch 44/50
192/192 [==============================] - 9s 46ms/step - loss: 0.0045 - accuracy: 0.9986 - val_loss: 0.7354 - val_accuracy: 0.9077
Epoch 45/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0022 - accuracy: 0.9993 - val_loss: 0.7339 - val_accuracy: 0.9064
Epoch 46/50
192/192 [==============================] - 9s 45ms/step - loss: 9.5211e-04 - accuracy: 0.9996 - val_loss: 0.8034 - val_accuracy: 0.9074
Epoch 47/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0025 - accuracy: 0.9990 - val_loss: 0.7000 - val_accuracy: 0.9056
Epoch 48/50
192/192 [==============================] - 8s 44ms/step - loss: 0.0013 - accuracy: 0.9996 - val_loss: 0.8077 - val_accuracy: 0.9099
Epoch 49/50
192/192 [==============================] - 9s 45ms/step - loss: 0.0016 - accuracy: 0.9993 - val_loss: 0.8420 - val_accuracy: 0.9074
Epoch 50/50
192/192 [==============================] - 9s 44ms/step - loss: 5.5523e-04 - accuracy: 0.9999 - val_loss: 0.8640 - val_accuracy: 0.9080

In [ ]:

y_pred=model.predict_classes(X_test)

from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[3146,  273],
       [ 282, 2334]])

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.908036454018227